# Tipos de arquivo gerais a serem ignorados
**/a.exe
/a.out
teste*
*.class
*.zip
*.exe
*.out
ModMat/*.gif
ModMat/*.png
*.vscode/
# Pastas a serem ignoradas
__pycache__/
*ipynb_checkpoints/
bancodados/202*
WebDev Course/0.*
WebDev Course/3.MultiPages/Image

#Ignorando arquivos CSV do portal da transparência
202301_Servidores_SIAPE/

#Ignoring files from the WebDev course exercises.
*wbdv_ex/
