# Ignorando o que não tem extensão (provavelmente binarios)
*
!/**/
!*.*

# Tipos de arquivo gerais a serem ignorados
**/*.png
**/a.exe
/a.out
teste.*
teste
*.class
*.zip
*.exe
*.out
*.bin
ModMat/*.gif
ModMat/*.png
*.vscode/
# Pastas a serem ignoradas
__pycache__/
*ipynb_checkpoints/
bancodados/202*
WebDev Course/0.*
WebDev Course/3.MultiPages/Image
**/programação Concorrente/**/cods-* 

#Ignorando arquivos CSV e outros formatos, de algumas pastas
202301_Servidores_SIAPE/
**/programação Concorrente/**/*.csv
**/programação Concorrente/**/*.pdf 
**/programação Concorrente/**/*.png

#Ignoring files from the WebDev course exercises.
*wbdv_ex/
