**/a.exe
teste.cpp
/a.out
teste
*.class
teste.exe
*.zip
*.exe
local/
__pycache__/
cocada/.ipynb_checkpoints
ipynb_checkpoints/
*.out
bancodados/202*
WebDev Course/0.*
WebDev Course/3.MultiPages/Images
2023.2/bancodados/202301_*