html{
    background:lightgoldenrodyellow;
    color:green
}
.before-hr{
    background-color: lightcoral;
}
.after-hr{
    background-color: aliceblue;
}

p{
    background-color: aqua;
    margin: 5px;
    padding: 5px;
}
body{
    display: flex;
}
div{
    background-color: burlywood;
    border: 1px solid black;
    margin: 2px;

}